.hero-container {
    background: url("https://www.instructory.net/assets/images/bg-1.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 790px;
    color: white;
}

@media(max-width:991px) {
    .hero-container {
        background-size: cover;
        min-height: 1000px;
    }
}

.hero-h3 {
    font-size: 22px;
    letter-spacing: 5px;
    line-height: 40px;
    padding-top: 80px;
    margin-bottom: 36px;
}

.hero-h1 {
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 76px;
    margin-bottom: 20px;
    font-weight: 600;
}

.hero-p {
    font-size: 18px;
    line-height: 45px !important;
    font-weight: 300px;
}

.btn-st,
.btn-sl {
    border: none;
    color: white;
    font-weight: bold;
    padding: 18px 12px;
    width: 200px;
    border-radius: 10px;
}

.btn-st {
    background-color: #ffa146;
    border: 1px solid #ffa146;
}

.btn-sl {
    background-color: #00a99d;
    border: 1px solid #00a99d;
}

.btn-st:hover {
    background-color: transparent;
    border: 1px solid #ffa146;
    color: #ffa146;
}

.btn-sl:hover {
    background-color: transparent;
    border: 1px solid #00a99d;
    color: #00a99d;
}