@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.custom-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.custom-toggler {
    border-color: white !important;
    outline: none !important;
    box-shadow: none !important;
}

.cc:hover {
    color: #8dc63f !important;
}

.ba:hover {
    color: #63d7fb !important;
}

.gs {
    cursor: pointer;
    background-color: #ff4669;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: .3s;
}